@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&subset=latin-ext");
body {
  width: 100%;
  height: 100%; }

@media (min-width: 768px) {
  .button-collapse {
    display: none; } }

#landing-page {
  width: 100%;
  height: 100%;
  background-color: #0277BD; }
  #landing-page .flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow: hidden; }
    #landing-page .flex-wrapper nav .navigation {
      display: none; }
      @media (min-width: 768px) {
        #landing-page .flex-wrapper nav .navigation {
          display: inline-block; } }
    #landing-page .flex-wrapper nav .nav-header {
      height: 150px;
      background: linear-gradient(rgba(1, 87, 155, 0.7), rgba(1, 87, 155, 0.7)), url("/images/spiration-light.png");
      width: 100%; }
    #landing-page .flex-wrapper nav #nav-button {
      height: 38px; }
    #landing-page .flex-wrapper nav #slide-out {
      width: 250px; }
      @media (min-width: 576px) {
        #landing-page .flex-wrapper nav #slide-out {
          width: 320px; } }
    #landing-page .flex-wrapper .landing-page-headline {
      text-align: center; }
      #landing-page .flex-wrapper .landing-page-headline h1 {
        font-weight: 300;
        font-size: 35px;
        color: #F5F5F5;
        font-family: 'Roboto Condensed', sans-serif; }
        @media (min-width: 576px) {
          #landing-page .flex-wrapper .landing-page-headline h1 {
            font-size: 65px; } }
        @media (min-width: 992px) {
          #landing-page .flex-wrapper .landing-page-headline h1 {
            font-size: 75px; } }
      #landing-page .flex-wrapper .landing-page-headline h2 {
        font-size: 25px;
        font-weight: 300;
        color: #E0E0E0; }
        @media (min-width: 576px) {
          #landing-page .flex-wrapper .landing-page-headline h2 {
            font-size: 35px; } }
        @media (min-width: 992px) {
          #landing-page .flex-wrapper .landing-page-headline h2 {
            font-size: 40px; } }
    #landing-page .flex-wrapper .ide {
      width: 90%;
      height: 180px;
      background-color: #212121;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      position: relative;
      padding: 0 15px;
      transition: all 1.5s ease-out;
      top: 100%; }
      @media (min-width: 576px) {
        #landing-page .flex-wrapper .ide {
          height: 240px;
          padding: 0 20px; } }
      @media (min-width: 992px) {
        #landing-page .flex-wrapper .ide {
          height: 300px;
          width: 75%; } }
      @media (min-width: 1200px) {
        #landing-page .flex-wrapper .ide {
          width: 55%; } }
      #landing-page .flex-wrapper .ide .ide-header {
        top: 0;
        left: 0;
        height: 30px;
        width: 100%;
        display: flex;
        align-items: center; }
        #landing-page .flex-wrapper .ide .ide-header .icon, #landing-page .flex-wrapper .ide .ide-header .icon-exit, #landing-page .flex-wrapper .ide .ide-header .icon-minimize, #landing-page .flex-wrapper .ide .ide-header .icon-expand {
          height: 5px;
          width: 5px;
          border-radius: 10px;
          margin-right: 5px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-header .icon, #landing-page .flex-wrapper .ide .ide-header .icon-exit, #landing-page .flex-wrapper .ide .ide-header .icon-minimize, #landing-page .flex-wrapper .ide .ide-header .icon-expand {
              height: 9px;
              width: 9px;
              margin-right: 7px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-header .icon, #landing-page .flex-wrapper .ide .ide-header .icon-exit, #landing-page .flex-wrapper .ide .ide-header .icon-minimize, #landing-page .flex-wrapper .ide .ide-header .icon-expand {
              height: 11px;
              width: 11px;
              margin-right: 8px; } }
        #landing-page .flex-wrapper .ide .ide-header .icon-exit {
          background-color: #F44336; }
        #landing-page .flex-wrapper .ide .ide-header .icon-minimize {
          background-color: #FFC107; }
        #landing-page .flex-wrapper .ide .ide-header .icon-expand {
          background-color: #4CAF50; }
      #landing-page .flex-wrapper .ide .ide-content {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 18px;
        overflow: hidden;
        height: 100%; }
        @media (min-width: 576px) {
          #landing-page .flex-wrapper .ide .ide-content {
            font-size: 22px; } }
        @media (min-width: 992px) {
          #landing-page .flex-wrapper .ide .ide-content {
            font-size: 25px; } }
        #landing-page .flex-wrapper .ide .ide-content .line {
          position: relative;
          top: 100%;
          transition: all 1s ease-out; }
        #landing-page .flex-wrapper .ide .ide-content .ide-line, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-first, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-second, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-third {
          display: flex;
          align-items: center;
          height: 15px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .ide-line, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-first, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-second, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-third {
              height: 20px;
              margin-top: 2px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .ide-line, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-first, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-second, #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-third {
              height: 25px;
              margin-top: 3px; } }
        #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-first {
          padding-left: 15px; }
        #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-second {
          padding-left: 30px; }
        #landing-page .flex-wrapper .ide .ide-content .ide-line-indented-third {
          padding-left: 45px; }
        #landing-page .flex-wrapper .ide .ide-content .code {
          height: 9px;
          width: 35px;
          border-radius: 5px;
          background-color: #FF7043;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .code {
              height: 14px;
              width: 87.5px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .code {
              height: 16px;
              width: 122.5px; } }
        #landing-page .flex-wrapper .ide .ide-content .html-tag {
          height: 9px;
          width: 20px;
          border-radius: 5px;
          background-color: #424242;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .html-tag {
              height: 14px;
              width: 50px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .html-tag {
              height: 16px;
              width: 70px; } }
        #landing-page .flex-wrapper .ide .ide-content .head-tag {
          height: 9px;
          width: 20px;
          border-radius: 5px;
          background-color: #616161;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .head-tag {
              height: 14px;
              width: 50px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .head-tag {
              height: 16px;
              width: 70px; } }
        #landing-page .flex-wrapper .ide .ide-content .head-first-tag {
          height: 9px;
          width: 85px;
          border-radius: 5px;
          background-color: #757575;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .head-first-tag {
              height: 14px;
              width: 212.5px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .head-first-tag {
              height: 16px;
              width: 297.5px; } }
        #landing-page .flex-wrapper .ide .ide-content .head-second-tag {
          height: 9px;
          width: 25px;
          border-radius: 5px;
          background-color: #757575;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .head-second-tag {
              height: 14px;
              width: 62.5px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .head-second-tag {
              height: 16px;
              width: 87.5px; } }
        #landing-page .flex-wrapper .ide .ide-content .head-second-content {
          height: 9px;
          width: 50px;
          border-radius: 5px;
          background-color: #FDD835;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .head-second-content {
              height: 14px;
              width: 125px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .head-second-content {
              height: 16px;
              width: 175px; } }
        #landing-page .flex-wrapper .ide .ide-content .body-tag {
          height: 9px;
          width: 20px;
          border-radius: 5px;
          background-color: #757575;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .body-tag {
              height: 14px;
              width: 50px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .body-tag {
              height: 16px;
              width: 70px; } }
        #landing-page .flex-wrapper .ide .ide-content .body-first-tag {
          height: 9px;
          width: 45px;
          border-radius: 5px;
          background-color: #9E9E9E;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .body-first-tag {
              height: 14px;
              width: 112.5px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .body-first-tag {
              height: 16px;
              width: 157.5px; } }
        #landing-page .flex-wrapper .ide .ide-content .body-second-tag {
          height: 9px;
          width: 35px;
          border-radius: 5px;
          background-color: #BDBDBD;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .body-second-tag {
              height: 14px;
              width: 87.5px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .body-second-tag {
              height: 16px;
              width: 122.5px; } }
        #landing-page .flex-wrapper .ide .ide-content .body-second-tag-content {
          height: 9px;
          width: 75px;
          border-radius: 5px;
          background-color: #FDD835;
          margin: 0 4px; }
          @media (min-width: 576px) {
            #landing-page .flex-wrapper .ide .ide-content .body-second-tag-content {
              height: 14px;
              width: 187.5px; } }
          @media (min-width: 992px) {
            #landing-page .flex-wrapper .ide .ide-content .body-second-tag-content {
              height: 16px;
              width: 262.5px; } }

#responsive-design {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #responsive-design .mobile {
    margin-top: 10px;
    background: #212121;
    width: 125px;
    height: 200px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #responsive-design .mobile .mobile-screen {
      width: 80%;
      height: 80%;
      background-color: #F5F5F5; }
      #responsive-design .mobile .mobile-screen .mobile-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-bottom: 10px; }
        #responsive-design .mobile .mobile-screen .mobile-content .mobile-nav {
          height: 30px;
          width: 100%;
          background-color: #01579b;
          align-self: flex-start; }
        #responsive-design .mobile .mobile-screen .mobile-content .mobile-block {
          background-color: #BDBDBD;
          height: 15%;
          width: 80%; }
  #responsive-design .tablet {
    margin-top: 10px;
    background: #212121;
    width: 150px;
    height: 250px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #responsive-design .tablet-screen {
      width: 80%;
      height: 80%;
      background-color: #F5F5F5;
      display: flex;
      flex-direction: column; }
    #responsive-design .tablet-nav {
      height: 30px;
      width: 100%;
      background-color: #01579b;
      align-self: flex-start; }
    #responsive-design .tablet-content .tablet-wrapper {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding-top: 5px; }
      #responsive-design .tablet-content .tablet-wrapper > .tablet-block {
        background-color: #BDBDBD;
        height: 15%;
        flex-basis: 100%;
        margin: 5px auto; }
      #responsive-design .tablet-content .tablet-wrapper > .tablet-block ~ .tablet-block {
        flex-basis: 45%; }
  #responsive-design .desktop {
    margin-top: 10px;
    background: #212121;
    width: 280px;
    height: 225px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center; }
    #responsive-design .desktop-screen {
      width: 85%;
      height: 80%;
      background-color: #F5F5F5;
      display: flex;
      flex-direction: column; }
    #responsive-design .desktop-content {
      display: flex;
      flex-direction: column; }
      #responsive-design .desktop-content .desktop-nav {
        height: 30px;
        width: 100%;
        background-color: #01579b;
        align-self: flex-start; }
      #responsive-design .desktop-content .desktop-wrapper {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
        padding: 0 10px; }
        #responsive-design .desktop-content .desktop-wrapper .desktop-block {
          background-color: #BDBDBD;
          margin-top: 10px;
          height: 25px; }
        #responsive-design .desktop-content .desktop-wrapper .desktop-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between; }
          #responsive-design .desktop-content .desktop-wrapper .desktop-row .left-row {
            flex-basis: 50%; }
            #responsive-design .desktop-content .desktop-wrapper .desktop-row .left-row .desktop-block {
              height: 60px; }
          #responsive-design .desktop-content .desktop-wrapper .desktop-row .right-row {
            flex-basis: 45%; }
