body {
  width: 100%;
  height: 100%;

  .body-wrapper {
    width: inherit;
    height: inherit;
    overflow-x: hidden !important; // hide vertical
    position: fixed;
  }
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  color: #212121;

  @include lg() {
    font-size: 35px;
  }
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #616161;

  @include lg() {
    font-size: 18px;
    font-weight: 400;
  }
}

.button-collapse {
  @include md() {
    display: none;
  }
}