#responsive-design {
  overflow-x: hidden; // hide vertical
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 3s ease-out;
  padding: 20px 0;
  max-width: 1200px;
  margin: 0 auto;

  @include md() {
    padding: 0px;
  }


  @include md() {
    flex-direction: row;
    height: 500px;
    justify-content: center;
    padding-top: 0;
  }

  .rwd-animation-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    margin: 15px 0;

    @include sm() {
      height: 250px;
    }

    @include md() {
      flex-basis: 50%;
      height: 100%;
      margin: 0;
    }
    .mobile {
      background: $device-gray;
      width: 120px;
      height: 190px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 1.5s ease-out;
      position: absolute;
      right: -100%;

      @include sm() {
        width: 130px;
        height: 220px;
      }

      @include md() {

      }

      .mobile-screen {
        width: 75%;
        height: 75%;
        background-color: $screen-white;

        .mobile-content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          padding-bottom: 10px;

          .mobile-nav {
            height: 20px;
            width: 100%;
            background-color: $primary-blue;
            align-self: flex-start;
          }

          .mobile-block {
            background-color: #BDBDBD;
            height: 15%;
            width: 80%;
          }
        }
      }
    }

    .tablet {
      background: $device-gray;
      width: 170px;
      height: 210px;
      border-radius: 25px;
      align-items: center;
      justify-content: center;
      transition: all 1.5s ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -100%;

      @include sm() {
        height: 260px;
        width: 195px;
      }

      &-screen {
        width: 75%;
        height: 75%;
        background-color: $screen-white;
        display: flex;
        flex-direction: column;
      }

      &-nav {
        height: 25px;
        width: 100%;
        background-color: $primary-blue;
        align-self: flex-start;
      }

      &-content {

        .tablet-wrapper {
          width: 90%;
          margin: 0 auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding-top: 5px;

          & > .tablet-block {
            background-color: #BDBDBD;
            height: 13%;
            flex-basis: 100%;
            margin: 5px auto;

            @include sm() {
              height: 15%;
            }
          }

          & > .tablet-block ~ .tablet-block {
            flex-basis: 45%;
          }
        }
      }
    }

    .desktop {
      display: flex;
      background: $device-gray;
      width: 260px;
      height: 210px;
      border-radius: 25px;
      align-items: center;
      justify-content: center;
      transition: all 1.5s ease-out;
      position: absolute;
      right: -100%;

      @include sm() {
        width: 330px;
        height: 250px;
      }

      @include md() {

      }

      &-screen {
        width: 80%;
        height: 75%;
        background-color: $screen-white;
        display: flex;
        flex-direction: column;

      }

      &-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .desktop-nav {
          height: 30px;
          width: 100%;
          background-color: $primary-blue;
          align-self: flex-start;

          @include sm() {
            height: 35px;
          }
        }

        .desktop-wrapper {
          display: flex;
          margin-top: 30px;
          flex-direction: column;
          padding: 0 10px;
          //TODO jak to zamienić na procenty
          height: 127.5px;

          @include sm() {
            height: 152.5px;
            margin-top: 35px;
          }

          .desktop-block {
            background-color: #BDBDBD;
            margin-top: 10px;
            height: 15%;

            @include md() {
              height: 16%;
            }
          }

          .desktop-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .left-row {
              flex-basis: 50%;

              .desktop-block {
                height: 38.5%;
              }

            }

            .right-row {
              flex-basis: 45%;
            }

          }

        }

      }
    }
  }
  .rwd-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include md() {
      height: 100%;
    }

    .rwd-description-wrapper {
      position: relative;

      @include md() {
        margin: 0 25px;
      }

      @include xl() {
        margin: 0 50px;
      }
    }

    h1 {
      text-align: center;
      margin: 5px 0;

      @include md() {
        text-align: left;
      }
    }

    p {
      text-align: center;

      @include md() {
        text-align: left;
      }
    }

    @include md() {
      flex-basis: 50%;
      height: 100%;
      background-color: white;
      z-index: 5;
    }
  }
}