#technology {
  max-width: 980px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  @include md() {
    flex-direction: row;
    margin-bottom: 75px;
  }


  .technology-wrapper {
    text-align: center;
    margin: 20px 20px 0 20px;

    @include md() {
      flex-basis: 33.3%;
    }

    i {
      color: $light-blue;
      font-size: 45px;
    }

    h2 {
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      margin: 0 auto;

    }

  }

}